@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jetbrains-mono/jetbrains-mono-variable.ttf") format("truetype");
  font-weight: 100 800;
  font-style: normal;
}

body{
  font-family: "JetBrains Mono", sans-serif;
  background-color: #0A0A0A;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ticker-track {
  animation: ticker 300s linear infinite;
}

@keyframes ticker {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.hide-scrollbar {
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE and old Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Edge */
}


@import "tailwindcss";


